#e60_7 { 
	overflow:hidden;
	background-color:rgba(232.00000137090683, 243.00000071525574, 253.0000001192093, 1);
	border:1px solid rgba(0, 0, 0, 1);
	width:404px;
	height:812px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
	position:absolute;
}
#e60_8 { 
	color:rgba(3.000000058673322, 4.000000236555934, 94.0000019967556, 1);
	width:343px;
	height:41px;
	position:absolute;
	left:30px;
	top:91px;
	font-family:Sinhala Sangam MN;
	text-align:left;
	font-size:34px;
	letter-spacing:0.37400001287460327;
	line-height:px;
}
#e60_9 { 
	color:rgba(3.000000058673322, 4.000000236555934, 94.0000019967556, 1);
	width:38px;
	height:41px;
	position:absolute;
	left:-380px;
	top:486px;
	font-family:Sinhala Sangam MN;
	text-align:left;
	font-size:34px;
	letter-spacing:0.37400001287460327;
	line-height:px;
}
#e60_10 { 
	background-color:rgba(255, 255, 255, 1);
	border:1px solid rgba(0, 0, 0, 1);
	width:344px;
	height:62px;
	position:absolute;
	left:29px;
	top:155px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
#ei60_10_3_994 { 
	color:rgba(3.000000058673322, 4.000000236555934, 94.0000019967556, 1);
	width:54px;
	height:22px;
	position:absolute;
	left:24px;
	top:20px;
	font-family:Sinhala Sangam MN;
	text-align:left;
	font-size:25px;
	letter-spacing:-0.40799999237060547;
	line-height:px;
}
#e60_11 { 
	color:rgba(189.00000393390656, 189.00000393390656, 189.00000393390656, 1);
	width:18px;
	height:22px;
	position:absolute;
	left:349px;
	top:32px;
	font-family:SF Pro Text;
	text-align:left;
	font-size:24px;
	letter-spacing:-0.5799999833106995;
	line-height:px;
}
#e60_12 { 
	width:24px;
	height:24px;
	position:absolute;
	left:38px;
	top:31px;
}
#ei60_12_4_195 { 
	width:20.499799728393555px;
	height:21.5049991607666px;
	position:absolute;
	left:2px;
	top:1.0002000331878662px;
}
#ei60_12_4_196 { 
	overflow:hidden;
	background-color:rgba(0, 0, 0, 1);
	width:20.499799728393555px;
	height:21.5049991607666px;
	position:absolute;
	left:0px;
	top:0px;
}
#ei60_12_4_197 { 
	background-color:rgba(3.000000058673322, 4.000000236555934, 94.0000019967556, 1);
	width:20.5px;
	height:21.505250930786133px;
	position:absolute;
	left:-0.00019999999494757503px;
	top:-0.00015016461838968098px;
}
#ei60_12_4_198 { 
	width:17.5px;
	height:18.504499435424805px;
	position:absolute;
	left:1.5px;
	top:1.500749945640564px;
}
#ei60_12_4_199 { 
	width:20.5px;
	height:21.505250930786133px;
	position:absolute;
	left:0px;
	top:-1.7763568394002505e-15px;
}
#e60_13 { 
	width:344px;
	height:630px;
	position:absolute;
	left:29px;
	top:180px;
	overflow-x: hidden;
	overflow-y: auto;

}
#e60_14 { 
	width:344px;
	height:630px;
	position:absolute;
	left:0px;
	top:0px;
}
#e60_15 { 
	width:344px;
	height:518px;
	position:absolute;
	left:0px;
	top:0px;
}
#e60_16 { 
	width:344px;
	height:189px;
	position:absolute;
	left:0px;
	top:0px;
}
.de60_17 {
	width:344px;
	height:249px;
	position:relative;
	left:0px;
	top:0px;
	padding-bottom: 20px;
}
.dei60_17_3_471 { 
	background-color:rgba(255, 255, 255, 1);
	border:1px solid rgba(0, 0, 0, 1);
	width:340px;
	height:239px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.dei60_17_3_473 { 
	color:rgba(3.000000058673322, 4.000000236555934, 94.0000019967556, 1);
	width:246px;
	height:22px;
	position:absolute;
	left:20px;
	top:21px;
	font-family:Sinhala Sangam MN;
	text-align:left;
	font-size:17px;
	letter-spacing:-0.40799999237060547;
	line-height:px;
}
.dei60_17_3_475 { 
	color:rgba(3.000000058673322, 4.000000236555934, 94.0000019967556, 1);
	width:186px;
	height:16px;
	position:absolute;
	left:20px;
	top:100px;
	font-family:Sinhala Sangam MN;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:px;
}
.dei60_17_3_476 {
	width:300px;
	height:80px;
	position:absolute;
	left:20px;
	top:80px;
	font-family:Sinhala Sangam MN;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:px;
}
.dei60_17_3_478 {
	position:absolute;
	left:-20px;
	top:-405px;
	line-height:px;
}
.dei60_17_3_477 { 
	color:rgba(3.000000058673322, 4.000000236555934, 94.0000019967556, 1);
	width:304px;
	height:44px;
	position:absolute;
	left:20px;
	top:124px;
	font-family:Sinhala Sangam MN;
	text-align:left;
	font-size:17px;
	letter-spacing:-0.40799999237060547;
	line-height:px;
}
.de60_18 {
	width:45px;
	height:45px;
	position:absolute;
	left:286px;
	top:7.328571319580078px;
}
.de60_19 {
	width:45px;
	height:45px;
	position:absolute;
	left:0px;
	top:0px;
}
.de60_20 {
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	border:1px solid rgba(3.000000058673322, 4.000000236555934, 94.0000019967556, 1);
	width:45px;
	height:45px;
	position:absolute;
	left:0px;
	top:0px;
}
.de60_21 {
	color:rgba(3.000000058673322, 4.000000236555934, 94.0000019967556, 1);
	opacity:0.800000011920929;
	width:14px;
	height:41px;
	position:absolute;
	left:9px;
	top:6px;
	font-family:Sinhala Sangam MN;
	text-align:center;
	font-size:30px;
	letter-spacing:0.37400001287460327;
	line-height:px;
}
#e60_28 { 
	transform: rotate(180deg);
	color:rgba(17.00000088661909, 17.00000088661909, 17.00000088661909, 1);
	width:18px;
	height:22px;
	position:absolute;
	left:344px;
	top:177px;
	font-family:SF Pro Text;
	text-align:left;
	font-size:24px;
	letter-spacing:-0.5799999833106995;
	line-height:px;
}
.de9_1081{
	width:204px;
	height:42px;
	position:absolute;
	left:90px;
	top:588px;
}
.de9_1079{
	background-color:rgba(78, 78, 150, 1);
	width:204px;
	height:42px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;

}
.de9_1080{
	color:rgba(255, 255, 255, 1);
	height:22px;
	position:absolute;
	left:65px;
	top:10px;
	font-family:Sinhala Sangam MN;
	text-align:center;
	font-size:20px;
	letter-spacing:-0.40799999237060547;
	line-height:px;

}
